Entegref/Web References/tr.com.parkentegrasyon.Irsaliye_test/EIrsaliyeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s4="http://www.w3.org/2005/05/xmlmime" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://schemas.i2i.com/ei/wsdl" xmlns:s2="http://schemas.i2i.com/ei/entity" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s3="http://schemas.i2i.com/ei/common" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://schemas.i2i.com/ei/wsdl" />
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="tns:LoginRes" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LoginRes">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IsSuccessLogin" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="SessionId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerList" type="tns:ArrayOfCustomerExtended" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCustomerExtended">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CustomerExtended" nillable="true" type="tns:CustomerExtended" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CustomerExtended">
        <s:complexContent mixed="false">
          <s:extension base="tns:Customer">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="FullName" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Customer">
        <s:complexContent mixed="false">
          <s:extension base="tns:DataModelObject">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="CustomerId" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Deleted" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="CreateDate" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="UpdateDate" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="CreateUser" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="UpdateUser" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Taxoridno" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TaxOffice" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CustomerName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PostboxAlias" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SenderAlias" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsIndividualCompany" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsBatch" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="BatchId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="BatchDescription" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Phonedesc" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="PhoneNr" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FaxNr" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="EmailAddr" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="BuildingNr" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="StreetName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AddressStreet2" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="District" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="City" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Country" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="PostalCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="WebSiteUrl" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="NaceCode" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsNameChanged" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="RegistryDate" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="Invoice" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Earchive" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="DefterUserName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DefterPassword" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="SmsFlag" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="DataModelObject" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:DataObject" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="DataObject" abstract="true" />
      <s:element name="Logout">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogoutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LogoutResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDespatchAdvice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDespatchRequest" type="s1:GetDespatchAdviceRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDespatchAdviceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDespatchAdviceResult" type="s1:GetDespatchAdviceResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReceiptAdvice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getReceiptRequest" type="s1:GetReceiptAdviceRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReceiptAdviceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReceiptAdviceResult" type="s1:GetReceiptAdviceResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReceiptAdviceStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getReceiptAdviceStatusRequest" type="s1:GetReceiptAdviceStatusRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReceiptAdviceStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReceiptAdviceStatusResult" type="s1:GetReceiptAdviceStatusResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDespatchAdviceStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAdviceStatusRequest" type="s1:GetDespatchAdviceStatusRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDespatchAdviceStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDespatchAdviceStatusResult" type="s1:GetDespatchAdviceStatusResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendDespatchAdvice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendDespatchAdviceRequest" type="s1:SendDespatchAdviceRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendDespatchAdviceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendDespatchAdviceResult" type="s1:SendDespatchAdviceResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendDespatchAdviceGetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendDespatchAdviceRequest" type="s1:SendDespatchAdviceRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendDespatchAdviceGetResponseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendDespatchAdviceGetResponseResult" type="tns:InvoiceResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="InvoiceResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DetailsDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="isSuccess" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Uuid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InvoiceRef" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="LoadDespatchAdvice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadDespatchAdviceRequest" type="s1:LoadDespatchAdviceRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadDespatchAdviceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadDespatchAdviceResult" type="s1:LoadDespatchAdviceResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendReceiptAdvice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendReceiptAdviceRequest" type="s1:SendReceiptAdviceRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendReceiptAdviceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendReceiptAdviceResult" type="s1:SendReceiptAdviceResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendReceiptAdviceGetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendReceiptAdviceRequest" type="s1:SendReceiptAdviceRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendReceiptAdviceGetResponseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendReceiptAdviceGetResponseResult" type="tns:InvoiceResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadReceiptAdvice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadReceiptAdviceRequest" type="s1:LoadReceiptAdviceRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadReceiptAdviceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadReceiptAdviceResult" type="s1:LoadReceiptAdviceResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MarkDespatchAdvice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="markDespatchAdviceRequest" type="s1:MarkDespatchAdviceRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MarkDespatchAdviceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MarkDespatchAdviceResult" type="s1:MarkDespatchAdviceResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MarkReceiptAdvice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="markReceiptAdviceRequest" type="s1:MarkReceiptAdviceRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MarkReceiptAdviceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MarkReceiptAdviceResult" type="s1:MarkReceiptAdviceResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DespatchCheckUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vknTckn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sessionId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DespatchCheckUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DespatchCheckUserResult" type="tns:ArrayOfGIBUSER" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfGIBUSER">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="GIBUSER" nillable="true" type="s1:GIBUSER" />
        </s:sequence>
      </s:complexType>
      <s:element name="DespatchUserList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DespatchUserListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DespatchUserListResult" type="tns:ArrayOfGIBUSER" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GibDespatchUserListTxt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GibDespatchUserListTxtResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GibDespatchUserListTxtResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ParkDespatchModelUblText">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="despatch" type="tns:PARKDespatchType" />
            <s:element minOccurs="0" maxOccurs="1" name="sessionId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PARKDespatchType">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="DovizKuru" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="IrsaliyeMukellefiMi" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="TaslaklaraGonderilsin" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Uuid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tipi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Profil" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IrsaliyeGibNumarasi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SiparisNumarasi" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SiparisTarihi" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="TasiyiciUnvan" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TasiyiciVknTckn" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TasiyiciPlaka" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DorsePlaka" type="tns:ArrayOfDorsePlakaObj" />
          <s:element minOccurs="0" maxOccurs="1" name="SoforBilgileri" type="tns:ArrayOfSoforBilgileriObj" />
          <s:element minOccurs="1" maxOccurs="1" name="IrsaliyeTarihi" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="IrsaliyeZamani" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="SevkTarihi" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="SevkZamani" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="ParaBirimi" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MalHizmetToplamTutari" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="AliciFirmaBilgileri" type="tns:FirmaBilgileri" />
          <s:element minOccurs="0" maxOccurs="1" name="GondericiFirmaBilgileri" type="tns:FirmaBilgileri" />
          <s:element minOccurs="0" maxOccurs="1" name="Notes" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="XsltName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IrsaliyeSatirlari" type="tns:ArrayOfIrsaliyeSatirlari" />
          <s:element minOccurs="0" maxOccurs="1" name="AdditionalDocumentReferences" type="tns:ArrayOfAdditionalDocumentReferenceDespatchObj" />
          <s:element minOccurs="0" maxOccurs="1" name="TeslimatAdresi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TeslimatSehir" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TeslimatIlce" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TeslimatPostaKodu" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TeslimatUlkeKodu" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AsilSaticiFirmaBilgileri" type="tns:FirmaBilgileri" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDorsePlakaObj">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DorsePlakaObj" nillable="true" type="tns:DorsePlakaObj" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DorsePlakaObj">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PlakaNo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSoforBilgileriObj">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SoforBilgileriObj" nillable="true" type="tns:SoforBilgileriObj" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SoforBilgileriObj">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SoforAdi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SoforSoyadi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tckn" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FirmaBilgileri">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="VergiNumarasi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GibAlias" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FirmaAdi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VergiDairesi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WebSitesi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telefon" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fax" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Eposta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Ulke" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Il" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Ilce" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PostaKodu" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sokak" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Apartman" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApartmanNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Adi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Soyadi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cadde" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MersisNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TicaretSicilNo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfIrsaliyeSatirlari">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="IrsaliyeSatirlari" nillable="true" type="tns:IrsaliyeSatirlari" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="IrsaliyeSatirlari">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SatirNo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UrunAdi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StokKodu" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StokAciklamasi" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TeslimedilecekMiktar" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="SonraTeslimEdilecekMiktar" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="BirimFiyat" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Tutar" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Birim" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ParaBirimi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AliciStokKodu" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAdditionalDocumentReferenceDespatchObj">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AdditionalDocumentReferenceDespatchObj" nillable="true" type="tns:AdditionalDocumentReferenceDespatchObj" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AdditionalDocumentReferenceDespatchObj">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IssueDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="DocumentTypeCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DocumentType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Attachment" type="tns:Attachment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Attachment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EmbeddedDocumentBinaryObject" type="tns:EmbeddedDocumentBinaryObject" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EmbeddedDocumentBinaryObject">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="mimeCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="encodingCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="characterSetCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:element name="ParkDespatchModelUblTextResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ParkDespatchModelUblTextResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IrsaliyeQRCodeCreate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uuid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sessionId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IrsaliyeQRCodeCreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IrsaliyeQRCodeCreateResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ParkObjectSendIrsaliye">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="irsaliyeObj" type="tns:PARKDespatchType" />
            <s:element minOccurs="0" maxOccurs="1" name="IrsaliyeOnEk" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ErpRef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sessionId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ParkObjectSendIrsaliyeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ParkObjectSendIrsaliyeResult" type="tns:InvoiceResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDespatchPdf">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uuid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inOut" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sessionId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDespatchPdfResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDespatchPdfResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPreviewDespatchPdf">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlContent" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sessionId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPreviewDespatchPdfResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPreviewDespatchPdfResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://schemas.i2i.com/ei/wsdl">
      <s:import namespace="http://schemas.i2i.com/ei/entity" />
      <s:import namespace="http://schemas.i2i.com/ei/common" />
      <s:import namespace="http://www.w3.org/2005/05/xmlmime" />
      <s:complexType name="GetDespatchAdviceRequest">
        <s:complexContent mixed="false">
          <s:extension base="s2:REQUEST">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="SEARCH_KEY">
                <s:complexType>
                  <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="LIMIT" type="s:int" />
                    <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ID" type="s:normalizedString" />
                    <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="UUID" type="s:normalizedString" />
                    <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="FROM" type="s:token" />
                    <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="TO" type="s:token" />
                    <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="START_DATE" type="s:date" />
                    <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="END_DATE" type="s:date" />
                    <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="READ_INCLUDED" type="s:boolean" />
                    <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="DIRECTION" type="s:token" />
                    <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="SENDER" type="s:token" />
                    <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="RECEIVER" type="s:token" />
                    <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="CONTENT_TYPE" type="s3:CONTENT_TYPE" />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" default="N" form="unqualified" name="HEADER_ONLY" type="s:token" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="LoadDespatchAdviceRequest">
        <s:complexContent mixed="false">
          <s:extension base="s2:REQUEST">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="DESPATCHADVICE" type="s1:DESPATCHADVICE" />
              <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="PRINTED_FLAG" type="s1:PRINTED_FLAG" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="DESPATCHADVICE">
        <s:complexContent mixed="false">
          <s:extension base="s1:DESPATCHADVICEINFO">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="CONTENT" type="s4:base64Binary" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="DESPATCHADVICEINFO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="DESPATCHADVICEHEADER" type="s1:DESPATCHADVICEHEADER" />
        </s:sequence>
        <s:attribute name="ID" type="s:token" />
        <s:attribute name="UUID" type="s:token" />
        <s:attribute name="DIRECTION" type="s:token" />
      </s:complexType>
      <s:complexType name="DESPATCHADVICEHEADER">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="UUID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="PROFILEID" type="s:token" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ISSUE_DATE" type="s:date" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ISSUE_TIME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ACTUAL_SHIPMENT_DATE" type="s:date" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ACTUAL_SHIPMENT_TIME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="TYPE_CODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="DIRECTION" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="SENDER" type="s3:PARTINFO" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="RECEIVER" type="s3:PARTINFO" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="AMOUNT" type="s3:AmountType" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="STATUS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="STATUS_CODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="STATUS_DESCRIPTION" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="GIB_STATUS_CODE" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="GIB_STATUS_DESCRIPTION" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="RESPONSE_CODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="RESPONSE_DESCRIPTION" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="FILENAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="HASH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="CDATE" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ENVELOPE_IDENTIFIER" type="s:token" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="USERCONTENT">
        <s:simpleContent>
          <s:extension base="s4:base64Binary">
            <s:attribute name="USERID" type="s:string" />
            <s:attribute name="USERTYPE" type="s1:USERTYPE" />
            <s:attribute name="SIGNTYPE" type="s1:SIGNTYPE" />
            <s:attribute name="TYPE" type="s1:USERCONTENTTYPE" />
          </s:extension>
        </s:simpleContent>
      </s:complexType>
      <s:simpleType name="USERTYPE">
        <s:restriction base="s:string">
          <s:enumeration value="USER" />
          <s:enumeration value="ARCHIVE" />
          <s:enumeration value="EARCHIVE" />
          <s:enumeration value="EARCHIVE_ARCHIVE" />
          <s:enumeration value="EDESPATCH" />
          <s:enumeration value="EDESPATCH_ARCHIVE" />
          <s:enumeration value="SERBEST_MESLEK" />
          <s:enumeration value="MUSTAHSIL" />
          <s:enumeration value="CHANGECUSTOMER" />
          <s:enumeration value="ZREPORT" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="SIGNTYPE">
        <s:restriction base="s:string">
          <s:enumeration value="HSM_CUSTOMER" />
          <s:enumeration value="HSM_ENTEGRATOR" />
          <s:enumeration value="HSM_CLIENT_SIGNED" />
          <s:enumeration value="TOKEN_CUSTOMER" />
          <s:enumeration value="TOKEN_ENTEGRATOR" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="USERCONTENTTYPE">
        <s:restriction base="s:string">
          <s:enumeration value="PROCESSUSER" />
          <s:enumeration value="CANCELUSER" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="PRINTED_FLAG">
        <s:restriction base="s:string">
          <s:enumeration value="Y" />
          <s:enumeration value="N" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="SendDespatchAdviceRequest">
        <s:complexContent mixed="false">
          <s:extension base="s2:REQUEST">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="SENDER">
                <s:complexType>
                  <s:attribute name="vkn" type="s:string" />
                  <s:attribute name="alias" type="s:string" />
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="RECEIVER">
                <s:complexType>
                  <s:attribute name="vkn" type="s:string" />
                  <s:attribute name="alias" type="s:string" />
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ID_ASSIGN_FLAG" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ID_ASSIGN_PREFIX" type="s:token" />
              <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="XSLT_NAME" type="s:string" />
              <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="DESPATCHADVICE" type="s1:DESPATCHADVICE" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="SendReceiptAdviceRequest">
        <s:complexContent mixed="false">
          <s:extension base="s2:REQUEST">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="SENDER">
                <s:complexType>
                  <s:attribute name="vkn" type="s:string" />
                  <s:attribute name="alias" type="s:string" />
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="RECEIVER">
                <s:complexType>
                  <s:attribute name="vkn" type="s:string" />
                  <s:attribute name="alias" type="s:string" />
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ID_ASSIGN_FLAG" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ID_ASSIGN_PREFIX" type="s:token" />
              <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="XSLT_NAME" type="s:string" />
              <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="RECEIPTADVICE" type="s1:RECEIPTADVICE" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="RECEIPTADVICE">
        <s:complexContent mixed="false">
          <s:extension base="s1:RECEIPTADVICEINFO">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="CONTENT" type="s4:base64Binary" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="RECEIPTADVICEINFO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="RECEIPTADVICEHEADER" type="s1:RECEIPTADVICEHEADER" />
        </s:sequence>
        <s:attribute name="ID" type="s:token" />
        <s:attribute name="UUID" type="s:token" />
        <s:attribute name="DIRECTION" type="s:token" />
      </s:complexType>
      <s:complexType name="RECEIPTADVICEHEADER">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ID" type="s:normalizedString" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="UUID" type="s:normalizedString" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="PROFILEID" type="s:token" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ISSUE_DATE" type="s:date" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ISSUE_TIME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ACTUAL_SHIPMENT_DATE" type="s:date" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ACTUAL_SHIPMENT_TIME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="TYPE_CODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="SENDER" type="s3:PARTINFO" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="RECEIVER" type="s3:PARTINFO" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="DIRECTION" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="DESPATCH_ADVICE_UUID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="DESPATCH_ADVICE_ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="STATUS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="STATUS_DESCRIPTION" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="STATUS_CODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="GIB_STATUS_CODE" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="GIB_STATUS_DESCRIPTION" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="RESPONSE_CODE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="RESPONSE_DESCRIPTION" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="FILENAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="HASH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="CDATE" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ENVELOPE_IDENTIFIER" type="s:token" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GetReceiptAdviceStatusRequest">
        <s:complexContent mixed="false">
          <s:extension base="s2:REQUEST">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="UUID" type="s:token" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="GetDespatchAdviceStatusRequest">
        <s:complexContent mixed="false">
          <s:extension base="s2:REQUEST">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="UUID" type="s:token" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="MarkDespatchAdviceRequest">
        <s:complexContent mixed="false">
          <s:extension base="s2:REQUEST">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="MARK">
                <s:complexType>
                  <s:sequence>
                    <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="DESPATCHADVICEINFO" type="s1:DESPATCHADVICEINFO" />
                  </s:sequence>
                  <s:attribute name="value" type="s:string" />
                </s:complexType>
              </s:element>
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="MarkReceiptAdviceRequest">
        <s:complexContent mixed="false">
          <s:extension base="s2:REQUEST">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="MARK">
                <s:complexType>
                  <s:sequence>
                    <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="RECEIPTADVICEINFO" type="s1:RECEIPTADVICEINFO" />
                  </s:sequence>
                  <s:attribute name="value" type="s:string" />
                </s:complexType>
              </s:element>
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="LoadReceiptAdviceRequest">
        <s:complexContent mixed="false">
          <s:extension base="s2:REQUEST">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="RECEIPTADVICE" type="s1:RECEIPTADVICE" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="GetReceiptAdviceRequest">
        <s:complexContent mixed="false">
          <s:extension base="s2:REQUEST">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="SEARCH_KEY">
                <s:complexType>
                  <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="LIMIT" type="s:int" />
                    <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ID" type="s:normalizedString" />
                    <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="UUID" type="s:normalizedString" />
                    <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="FROM" type="s:token" />
                    <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="TO" type="s:token" />
                    <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="START_DATE" type="s:date" />
                    <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="END_DATE" type="s:date" />
                    <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="READ_INCLUDED" type="s:boolean" />
                    <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="DIRECTION" type="s:token" />
                    <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="SENDER" type="s:token" />
                    <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="RECEIVER" type="s:token" />
                    <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="CONTENT_TYPE" type="s3:CONTENT_TYPE" />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" default="N" form="unqualified" name="HEADER_ONLY" type="s:token" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="UserRequest">
        <s:complexContent mixed="false">
          <s:extension base="s2:REQUEST">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="USERCONTENT" type="s1:USERCONTENT" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="GetDespatchAdviceResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="DESPATCHADVICE" type="s1:DESPATCHADVICE" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ERROR_TYPE" type="s2:REQUEST_ERRORType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GetReceiptAdviceResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="RECEIPTADVICE" type="s1:RECEIPTADVICE" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ERROR_TYPE" type="s2:REQUEST_ERRORType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GetReceiptAdviceStatusResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="RECEIPTADVICE_STATUS" type="s1:RECEIPTADVICEHEADER" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ERROR_TYPE" type="s2:REQUEST_ERRORType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GetDespatchAdviceStatusResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="DESPATCHADVICE_STATUS" type="s1:DESPATCHADVICEHEADER" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ERROR_TYPE" type="s2:REQUEST_ERRORType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SendDespatchAdviceResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="DESPATCH_ID" type="s:normalizedString" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="REQUEST_RETURN" type="s2:REQUEST_RETURNType" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ERROR_TYPE" type="s2:REQUEST_ERRORType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LoadDespatchAdviceResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="REQUEST_RETURN" type="s2:REQUEST_RETURNType" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ERROR_TYPE" type="s2:REQUEST_ERRORType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SendReceiptAdviceResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="RECEIPT_ID" type="s:normalizedString" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="REQUEST_RETURN" type="s2:REQUEST_RETURNType" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ERROR_TYPE" type="s2:REQUEST_ERRORType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LoadReceiptAdviceResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="REQUEST_RETURN" type="s2:REQUEST_RETURNType" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ERROR_TYPE" type="s2:REQUEST_ERRORType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MarkDespatchAdviceResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="REQUEST_RETURN" type="s2:REQUEST_RETURNType" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ERROR_TYPE" type="s2:REQUEST_ERRORType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MarkReceiptAdviceResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="REQUEST_RETURN" type="s2:REQUEST_RETURNType" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ERROR_TYPE" type="s2:REQUEST_ERRORType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GIBUSER">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="IDENTIFIER" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ALIAS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="TITLE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="TYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="REGISTER_TIME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="UNIT" type="s:token" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ALIAS_CREATION_TIME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="DOCUMENT_TYPE" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://schemas.i2i.com/ei/entity">
      <s:import namespace="http://schemas.i2i.com/ei/common" />
      <s:complexType name="REQUEST">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="REQUEST_HEADER" type="s2:REQUEST_HEADERType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="REQUEST_HEADERType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="SESSION_ID" type="s:token" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="CLIENT_TXN_ID" type="s:token" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="INTL_TXN_ID" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="INTL_PARENT_TXN_ID" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ACTION_DATE" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="CHANGE_INFO" type="s3:CHANGE_INFOType" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="REASON" type="s:token" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="APPLICATION_NAME" type="s:token" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="HOSTNAME" type="s:token" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="CHANNEL_NAME" type="s:token" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="SIMULATION_FLAG" type="s:token" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="COMPRESSED" type="s:token" />
          <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="ATTRIBUTES" type="s3:ATTRIBUTESTYPE" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="REQUEST_ERRORType">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="INTL_TXN_ID" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="CLIENT_TXN_ID" type="s:token" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="ERROR_CODE" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ERROR_SHORT_DES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ERROR_LONG_DES" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="STACKTRACE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ERROR_ELEMENT_INDEX" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="REQUEST_RETURNType">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="INTL_TXN_ID" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="CLIENT_TXN_ID" type="s:token" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="RETURN_CODE" type="s:int" />
          <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="WARNINGS" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://schemas.i2i.com/ei/common">
      <s:complexType name="CHANGE_INFOType">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="CDATE" type="s:date" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="CPOSITION_ID" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="CUSER_ID" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="UDATE" type="s:date" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="UPOSITION_ID" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="UUSER_ID" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ATTRIBUTESTYPE">
        <s:sequence>
          <s:any minOccurs="0" maxOccurs="unbounded" />
        </s:sequence>
        <s:attribute name="NAME" type="s:string" />
        <s:anyAttribute />
      </s:complexType>
      <s:complexType name="PARTINFO">
        <s:attribute name="VKN" type="s:normalizedString" />
        <s:attribute name="IDENTIFIER" type="s:normalizedString" />
        <s:attribute name="ALIAS" type="s:normalizedString" />
      </s:complexType>
      <s:complexType name="AmountType">
        <s:simpleContent>
          <s:extension base="s:decimal">
            <s:attribute name="currencyID" type="s:normalizedString" />
            <s:attribute name="currencyCodeListVersionID" type="s:normalizedString" />
          </s:extension>
        </s:simpleContent>
      </s:complexType>
      <s:simpleType name="CONTENT_TYPE">
        <s:restriction base="s:string">
          <s:enumeration value="XML" />
          <s:enumeration value="PDF" />
          <s:enumeration value="HTML" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.w3.org/2005/05/xmlmime">
      <s:complexType name="base64Binary">
        <s:simpleContent>
          <s:extension base="s:base64Binary">
            <s:attribute form="qualified" name="contentType" type="s:string" />
          </s:extension>
        </s:simpleContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="LogoutSoapIn">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="LogoutSoapOut">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="GetDespatchAdviceSoapIn">
    <wsdl:part name="parameters" element="tns:GetDespatchAdvice" />
  </wsdl:message>
  <wsdl:message name="GetDespatchAdviceSoapOut">
    <wsdl:part name="parameters" element="tns:GetDespatchAdviceResponse" />
  </wsdl:message>
  <wsdl:message name="GetReceiptAdviceSoapIn">
    <wsdl:part name="parameters" element="tns:GetReceiptAdvice" />
  </wsdl:message>
  <wsdl:message name="GetReceiptAdviceSoapOut">
    <wsdl:part name="parameters" element="tns:GetReceiptAdviceResponse" />
  </wsdl:message>
  <wsdl:message name="GetReceiptAdviceStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetReceiptAdviceStatus" />
  </wsdl:message>
  <wsdl:message name="GetReceiptAdviceStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetReceiptAdviceStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetDespatchAdviceStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetDespatchAdviceStatus" />
  </wsdl:message>
  <wsdl:message name="GetDespatchAdviceStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetDespatchAdviceStatusResponse" />
  </wsdl:message>
  <wsdl:message name="SendDespatchAdviceSoapIn">
    <wsdl:part name="parameters" element="tns:SendDespatchAdvice" />
  </wsdl:message>
  <wsdl:message name="SendDespatchAdviceSoapOut">
    <wsdl:part name="parameters" element="tns:SendDespatchAdviceResponse" />
  </wsdl:message>
  <wsdl:message name="SendDespatchAdviceGetResponseSoapIn">
    <wsdl:part name="parameters" element="tns:SendDespatchAdviceGetResponse" />
  </wsdl:message>
  <wsdl:message name="SendDespatchAdviceGetResponseSoapOut">
    <wsdl:part name="parameters" element="tns:SendDespatchAdviceGetResponseResponse" />
  </wsdl:message>
  <wsdl:message name="LoadDespatchAdviceSoapIn">
    <wsdl:part name="parameters" element="tns:LoadDespatchAdvice" />
  </wsdl:message>
  <wsdl:message name="LoadDespatchAdviceSoapOut">
    <wsdl:part name="parameters" element="tns:LoadDespatchAdviceResponse" />
  </wsdl:message>
  <wsdl:message name="SendReceiptAdviceSoapIn">
    <wsdl:part name="parameters" element="tns:SendReceiptAdvice" />
  </wsdl:message>
  <wsdl:message name="SendReceiptAdviceSoapOut">
    <wsdl:part name="parameters" element="tns:SendReceiptAdviceResponse" />
  </wsdl:message>
  <wsdl:message name="SendReceiptAdviceGetResponseSoapIn">
    <wsdl:part name="parameters" element="tns:SendReceiptAdviceGetResponse" />
  </wsdl:message>
  <wsdl:message name="SendReceiptAdviceGetResponseSoapOut">
    <wsdl:part name="parameters" element="tns:SendReceiptAdviceGetResponseResponse" />
  </wsdl:message>
  <wsdl:message name="LoadReceiptAdviceSoapIn">
    <wsdl:part name="parameters" element="tns:LoadReceiptAdvice" />
  </wsdl:message>
  <wsdl:message name="LoadReceiptAdviceSoapOut">
    <wsdl:part name="parameters" element="tns:LoadReceiptAdviceResponse" />
  </wsdl:message>
  <wsdl:message name="MarkDespatchAdviceSoapIn">
    <wsdl:part name="parameters" element="tns:MarkDespatchAdvice" />
  </wsdl:message>
  <wsdl:message name="MarkDespatchAdviceSoapOut">
    <wsdl:part name="parameters" element="tns:MarkDespatchAdviceResponse" />
  </wsdl:message>
  <wsdl:message name="MarkReceiptAdviceSoapIn">
    <wsdl:part name="parameters" element="tns:MarkReceiptAdvice" />
  </wsdl:message>
  <wsdl:message name="MarkReceiptAdviceSoapOut">
    <wsdl:part name="parameters" element="tns:MarkReceiptAdviceResponse" />
  </wsdl:message>
  <wsdl:message name="DespatchCheckUserSoapIn">
    <wsdl:part name="parameters" element="tns:DespatchCheckUser" />
  </wsdl:message>
  <wsdl:message name="DespatchCheckUserSoapOut">
    <wsdl:part name="parameters" element="tns:DespatchCheckUserResponse" />
  </wsdl:message>
  <wsdl:message name="DespatchUserListSoapIn">
    <wsdl:part name="parameters" element="tns:DespatchUserList" />
  </wsdl:message>
  <wsdl:message name="DespatchUserListSoapOut">
    <wsdl:part name="parameters" element="tns:DespatchUserListResponse" />
  </wsdl:message>
  <wsdl:message name="GibDespatchUserListTxtSoapIn">
    <wsdl:part name="parameters" element="tns:GibDespatchUserListTxt" />
  </wsdl:message>
  <wsdl:message name="GibDespatchUserListTxtSoapOut">
    <wsdl:part name="parameters" element="tns:GibDespatchUserListTxtResponse" />
  </wsdl:message>
  <wsdl:message name="ParkDespatchModelUblTextSoapIn">
    <wsdl:part name="parameters" element="tns:ParkDespatchModelUblText" />
  </wsdl:message>
  <wsdl:message name="ParkDespatchModelUblTextSoapOut">
    <wsdl:part name="parameters" element="tns:ParkDespatchModelUblTextResponse" />
  </wsdl:message>
  <wsdl:message name="IrsaliyeQRCodeCreateSoapIn">
    <wsdl:part name="parameters" element="tns:IrsaliyeQRCodeCreate" />
  </wsdl:message>
  <wsdl:message name="IrsaliyeQRCodeCreateSoapOut">
    <wsdl:part name="parameters" element="tns:IrsaliyeQRCodeCreateResponse" />
  </wsdl:message>
  <wsdl:message name="ParkObjectSendIrsaliyeSoapIn">
    <wsdl:part name="parameters" element="tns:ParkObjectSendIrsaliye" />
  </wsdl:message>
  <wsdl:message name="ParkObjectSendIrsaliyeSoapOut">
    <wsdl:part name="parameters" element="tns:ParkObjectSendIrsaliyeResponse" />
  </wsdl:message>
  <wsdl:message name="GetDespatchPdfSoapIn">
    <wsdl:part name="parameters" element="tns:GetDespatchPdf" />
  </wsdl:message>
  <wsdl:message name="GetDespatchPdfSoapOut">
    <wsdl:part name="parameters" element="tns:GetDespatchPdfResponse" />
  </wsdl:message>
  <wsdl:message name="GetPreviewDespatchPdfSoapIn">
    <wsdl:part name="parameters" element="tns:GetPreviewDespatchPdf" />
  </wsdl:message>
  <wsdl:message name="GetPreviewDespatchPdfSoapOut">
    <wsdl:part name="parameters" element="tns:GetPreviewDespatchPdfResponse" />
  </wsdl:message>
  <wsdl:portType name="EIrsaliyeServiceSoap">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input message="tns:LogoutSoapIn" />
      <wsdl:output message="tns:LogoutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDespatchAdvice">
      <wsdl:input message="tns:GetDespatchAdviceSoapIn" />
      <wsdl:output message="tns:GetDespatchAdviceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReceiptAdvice">
      <wsdl:input message="tns:GetReceiptAdviceSoapIn" />
      <wsdl:output message="tns:GetReceiptAdviceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReceiptAdviceStatus">
      <wsdl:input message="tns:GetReceiptAdviceStatusSoapIn" />
      <wsdl:output message="tns:GetReceiptAdviceStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDespatchAdviceStatus">
      <wsdl:input message="tns:GetDespatchAdviceStatusSoapIn" />
      <wsdl:output message="tns:GetDespatchAdviceStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendDespatchAdvice">
      <wsdl:input message="tns:SendDespatchAdviceSoapIn" />
      <wsdl:output message="tns:SendDespatchAdviceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendDespatchAdviceGetResponse">
      <wsdl:input message="tns:SendDespatchAdviceGetResponseSoapIn" />
      <wsdl:output message="tns:SendDespatchAdviceGetResponseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadDespatchAdvice">
      <wsdl:input message="tns:LoadDespatchAdviceSoapIn" />
      <wsdl:output message="tns:LoadDespatchAdviceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendReceiptAdvice">
      <wsdl:input message="tns:SendReceiptAdviceSoapIn" />
      <wsdl:output message="tns:SendReceiptAdviceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendReceiptAdviceGetResponse">
      <wsdl:input message="tns:SendReceiptAdviceGetResponseSoapIn" />
      <wsdl:output message="tns:SendReceiptAdviceGetResponseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadReceiptAdvice">
      <wsdl:input message="tns:LoadReceiptAdviceSoapIn" />
      <wsdl:output message="tns:LoadReceiptAdviceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MarkDespatchAdvice">
      <wsdl:input message="tns:MarkDespatchAdviceSoapIn" />
      <wsdl:output message="tns:MarkDespatchAdviceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MarkReceiptAdvice">
      <wsdl:input message="tns:MarkReceiptAdviceSoapIn" />
      <wsdl:output message="tns:MarkReceiptAdviceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DespatchCheckUser">
      <wsdl:input message="tns:DespatchCheckUserSoapIn" />
      <wsdl:output message="tns:DespatchCheckUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DespatchUserList">
      <wsdl:input message="tns:DespatchUserListSoapIn" />
      <wsdl:output message="tns:DespatchUserListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GibDespatchUserListTxt">
      <wsdl:input message="tns:GibDespatchUserListTxtSoapIn" />
      <wsdl:output message="tns:GibDespatchUserListTxtSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ParkDespatchModelUblText">
      <wsdl:input message="tns:ParkDespatchModelUblTextSoapIn" />
      <wsdl:output message="tns:ParkDespatchModelUblTextSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IrsaliyeQRCodeCreate">
      <wsdl:input message="tns:IrsaliyeQRCodeCreateSoapIn" />
      <wsdl:output message="tns:IrsaliyeQRCodeCreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ParkObjectSendIrsaliye">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">CMC Park objesine setlenen verileri otomatik UBL-TR formatna evirir. Fatura numarasn temsil eden ID alan null gnderilirse otomatik numara verir. XSLT gnderilirmez ise CMC Park objesi ierisinde bulunan XSLTName alanna gre xslt tasarmn ekler. Dn deeri olarak dier ilgili methodlarda kullanacanz UUID ve fatura numaras geri dner.</wsdl:documentation>
      <wsdl:input message="tns:ParkObjectSendIrsaliyeSoapIn" />
      <wsdl:output message="tns:ParkObjectSendIrsaliyeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDespatchPdf">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gnderilen Park Objesinin pdf grntsn dner</wsdl:documentation>
      <wsdl:input message="tns:GetDespatchPdfSoapIn" />
      <wsdl:output message="tns:GetDespatchPdfSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPreviewDespatchPdf">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gnderilen Park Objesinin pdf grntsn dner</wsdl:documentation>
      <wsdl:input message="tns:GetPreviewDespatchPdfSoapIn" />
      <wsdl:output message="tns:GetPreviewDespatchPdfSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EIrsaliyeServiceSoap" type="tns:EIrsaliyeServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://tempuri.org/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDespatchAdvice">
      <soap:operation soapAction="http://tempuri.org/GetDespatchAdvice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReceiptAdvice">
      <soap:operation soapAction="http://tempuri.org/GetReceiptAdvice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReceiptAdviceStatus">
      <soap:operation soapAction="http://tempuri.org/GetReceiptAdviceStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDespatchAdviceStatus">
      <soap:operation soapAction="http://tempuri.org/GetDespatchAdviceStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendDespatchAdvice">
      <soap:operation soapAction="http://tempuri.org/SendDespatchAdvice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendDespatchAdviceGetResponse">
      <soap:operation soapAction="http://tempuri.org/SendDespatchAdviceGetResponse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadDespatchAdvice">
      <soap:operation soapAction="http://tempuri.org/LoadDespatchAdvice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendReceiptAdvice">
      <soap:operation soapAction="http://tempuri.org/SendReceiptAdvice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendReceiptAdviceGetResponse">
      <soap:operation soapAction="http://tempuri.org/SendReceiptAdviceGetResponse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadReceiptAdvice">
      <soap:operation soapAction="http://tempuri.org/LoadReceiptAdvice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MarkDespatchAdvice">
      <soap:operation soapAction="http://tempuri.org/MarkDespatchAdvice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MarkReceiptAdvice">
      <soap:operation soapAction="http://tempuri.org/MarkReceiptAdvice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DespatchCheckUser">
      <soap:operation soapAction="http://tempuri.org/DespatchCheckUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DespatchUserList">
      <soap:operation soapAction="http://tempuri.org/DespatchUserList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GibDespatchUserListTxt">
      <soap:operation soapAction="http://tempuri.org/GibDespatchUserListTxt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ParkDespatchModelUblText">
      <soap:operation soapAction="http://tempuri.org/ParkDespatchModelUblText" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IrsaliyeQRCodeCreate">
      <soap:operation soapAction="http://tempuri.org/IrsaliyeQRCodeCreate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ParkObjectSendIrsaliye">
      <soap:operation soapAction="http://tempuri.org/ParkObjectSendIrsaliye" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDespatchPdf">
      <soap:operation soapAction="http://tempuri.org/GetDespatchPdf" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPreviewDespatchPdf">
      <soap:operation soapAction="http://tempuri.org/GetPreviewDespatchPdf" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EIrsaliyeServiceSoap12" type="tns:EIrsaliyeServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap12:operation soapAction="http://tempuri.org/Logout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDespatchAdvice">
      <soap12:operation soapAction="http://tempuri.org/GetDespatchAdvice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReceiptAdvice">
      <soap12:operation soapAction="http://tempuri.org/GetReceiptAdvice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReceiptAdviceStatus">
      <soap12:operation soapAction="http://tempuri.org/GetReceiptAdviceStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDespatchAdviceStatus">
      <soap12:operation soapAction="http://tempuri.org/GetDespatchAdviceStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendDespatchAdvice">
      <soap12:operation soapAction="http://tempuri.org/SendDespatchAdvice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendDespatchAdviceGetResponse">
      <soap12:operation soapAction="http://tempuri.org/SendDespatchAdviceGetResponse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadDespatchAdvice">
      <soap12:operation soapAction="http://tempuri.org/LoadDespatchAdvice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendReceiptAdvice">
      <soap12:operation soapAction="http://tempuri.org/SendReceiptAdvice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendReceiptAdviceGetResponse">
      <soap12:operation soapAction="http://tempuri.org/SendReceiptAdviceGetResponse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadReceiptAdvice">
      <soap12:operation soapAction="http://tempuri.org/LoadReceiptAdvice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MarkDespatchAdvice">
      <soap12:operation soapAction="http://tempuri.org/MarkDespatchAdvice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MarkReceiptAdvice">
      <soap12:operation soapAction="http://tempuri.org/MarkReceiptAdvice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DespatchCheckUser">
      <soap12:operation soapAction="http://tempuri.org/DespatchCheckUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DespatchUserList">
      <soap12:operation soapAction="http://tempuri.org/DespatchUserList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GibDespatchUserListTxt">
      <soap12:operation soapAction="http://tempuri.org/GibDespatchUserListTxt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ParkDespatchModelUblText">
      <soap12:operation soapAction="http://tempuri.org/ParkDespatchModelUblText" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IrsaliyeQRCodeCreate">
      <soap12:operation soapAction="http://tempuri.org/IrsaliyeQRCodeCreate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ParkObjectSendIrsaliye">
      <soap12:operation soapAction="http://tempuri.org/ParkObjectSendIrsaliye" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDespatchPdf">
      <soap12:operation soapAction="http://tempuri.org/GetDespatchPdf" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPreviewDespatchPdf">
      <soap12:operation soapAction="http://tempuri.org/GetPreviewDespatchPdf" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EIrsaliyeService">
    <wsdl:port name="EIrsaliyeServiceSoap" binding="tns:EIrsaliyeServiceSoap">
      <soap:address location="https://wstest.parkentegrasyon.com.tr/EIrsaliyeService.asmx" />
    </wsdl:port>
    <wsdl:port name="EIrsaliyeServiceSoap12" binding="tns:EIrsaliyeServiceSoap12">
      <soap12:address location="https://wstest.parkentegrasyon.com.tr/EIrsaliyeService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>